*{
    margin:0;
    padding: 0;
}
body{
    background-color: #b5f5e0;
    
}
.header{
    display: flex;
    justify-content: space-between;
    margin:10px 40px 5px 40px;
    color: #00646b;

}
.voltsolvertxt{
    font-family: "Irish Grover", system-ui;
    font-size: 25px;font-weight: 500;
    color: #00646b;
}
.voltsolvertxt a{
text-decoration: none;
}
.singup{
    font-size: 20px;
}
.singup a{
    color: #00646b;
}
.singup a:hover{
    color: brown;
}
.loginleft img{
    margin-left: 40px;
    height: 500px;
    width: 460px;
    position: absolute; 
    /* top: 300px;  */
    animation: moveUpDown 2s infinite alternate; 
} 
@keyframes moveUpDown {
    0% {
      top: 40px; 
    }
    100% {
      top: 100px; 
    }
  }

.container{
    display: grid;
    grid-template-columns: 1fr 1fr;
}
#welcome{
    
        font-family: "Itim", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 60px;
        margin-bottom: 10px;
        color: #00646b;
        
    }
#logintext{
    font-family: 'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;
    font-size: 30px;
    margin-bottom: 20px;
    color: #00646b;
}

.username{
    position: relative;
    margin-top: 10px;
    /* background-color: whitesmoke; */
}
.username input{
    /* background: transparent; */
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.436);
    border-radius: 5px;
    height: 25px;
    width: 300px;
    padding:5px 5px 5px 30px;
    font-size: 20px;
    background-color: rgba(202, 153, 153, 0.09);
    /* color: rgb(54, 54, 54); */
}
.username input::placeholder{
    color: rgb(65, 131, 109);
    font-size: 20px;
}
.username i{
    position: absolute;
    left: 6px;
    top: 15px;
}

.password{
    position: relative;
    margin-top: 20px;

  
}
.password input{
    outline: 0;
    border: 1px solid rgba(0, 0, 0, 0.436);
    border-radius: 5px;
    height: 25px;
    width: 300px;
    padding:5px 5px 5px 30px;
    font-size: 20px;
    background-color: rgba(202, 153, 153, 0.09);
    

}
.password input::placeholder{
    color: rgb(65, 131, 109);
    font-size: 20px;
}
.password i{
    position: absolute;
    left: 6px;
    top: 15px;
}


/* full right side login  */

.logincont{
    display: flex;
    margin-top: 100px;
    align-items: flex-start;
    justify-content: center;
}


/* button login */
.loginbtncont{
    position: relative;
    margin-top: 20px;
    
}
#loginbtn{
    width: 120px;
    text-align: center;
    padding: 10px 10px;
    background-color: #00646b;
    color: #fdf2e9;
    border-radius: 10px;
    border:2px solid #efe9e9;
    transition: background-color 0.5s;
    position: absolute;
    top: 10px;
    left: 0px;
  
}
#loginbtn:hover{
    background-color: brown;
    cursor: pointer;
    border: 2px  solid rgba(0,0,0,.5);
    
}
.loginbtncont a{
    position:absolute;
    top: 15px;
    left: 140px;
}
.loginbtncont a:hover{
    color: brown;
}
#lastpara {
    width: 100%; 
    text-align: center; 
    border-bottom: 1px solid grey; 
    line-height: 0.1em;
    margin: 100px 0 20px; 
 } 
 
 #lastpara span { 
     background:#fff; 
     padding:0 20px; 
     color: #00646b;
     font-size: 20px;
     
 }
 .lasticon{
    font-size: 26px;
    text-align: center;
    
 }
 .lasticon i{

    margin-left: 10px;
    cursor: pointer;
 }
.lasticon i:hover{
    color: brown;
    transition: .5s;
}

/* .volt{
    background-color: rgba(127, 255, 212, 0.398);
    height: 100vh;
    width: 100vh;
} */

/* .loginleft img{
    
    height: 80vh;
    width: 80vh;
   
}  */

@media screen and (max-width:1000px){
    .container{
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
      /* opacity: 24;  */
        
    }
    /* body{
        background: url('loginback.gif');
    } */
    .loginleft img{
        display: none;
    }
}