body{
    background-color: #b5f5e0;
}
.head{
    display: flex;
    justify-content: space-between;
    margin:5px 30px 5px 10px;
}
#login a{
    text-decoration: none;
    color: #00646b;
    font-family: "Nanum Myeongjo", serif;
    
    font-weight: 400;
    font-style: normal;
    font-size: 30px;
}
#login a:hover{
    color: brown;
}
#login i{
    font-size: 30px;
    color: #00646b;
}
.welcome{
    font-family: "Itim", cursive;
        font-weight: 400;
        font-style: normal;
        font-size: 40px;
        color: #00646b;
        text-align: center;
}
.userinput{
    display: flex;
    flex-direction: column;
    
}
.userinput label{
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    color: #0F4855;
    font-size: 23px;


}
.input{
    outline: 0;
    border: 2px solid rgba(0, 0, 0, 0.436);
    border-radius: 8px;
    height: 25px;
    width: 300px;
    padding:5px;
    font-size: 20px;
    background-color: rgba(202, 153, 153, 0.09);
}
.container{
    display: grid;
    position: relative;
    gap: 10px;
    grid-template-columns: auto auto;
    align-items: center;
    justify-items: center;
   margin-top: 50px;
}

#registerbtn{
    outline: 0;
    width: 200px;
    text-align: center;
    padding: 10px 10px;
    background-color: #00646b;
    color: #fdf2e9;
    border-radius: 10px;
    border:2px solid #efe9e9;
    transition: background-color 0.5s;
    /* position: absolute;
    bottom: 60px;
    left: 44%; */
    margin-left:42vw;
    font-size: 20px;
   
}
#registerbtn:hover{
    background-color: brown;
    cursor: pointer;
    border: 2px  solid rgba(0,0,0,.5);
}
.error{
    color:red;
    font-size: 18px;
    margin-top:3px;
}
.userinput.success input{
    border-color: green;
 }
 .userinput.error input{
    border-color: red;
 }


 @media screen and (max-width:800px) {
    .container{
        display: grid;
        grid-template-columns: 1fr;
        align-items: center;
        justify-items: center;
       margin-top: 50px;
    }
    #registerbtn{
        margin-top: 10px;
        margin-left:33vw;
    }
 } 
