*{
    margin:0;
    padding: 0;
}
body{
    background-color: #b5f5e0;

}
#wel{
    font-family: "Itim", cursive;
    font-weight: 400;
    font-style: normal;
    font-size: 48px;
    line-height: 57.6px;
    color: #00646b;
    margin: 17px;
}
#voltsolver{
  font-family: "Irish Grover", system-ui;
  font-weight: 400;
  font-style: normal;
  font-size: 96px;
  color:#0F4855;
  line-height: 116.06px;
  /* margin-left: 40px; */
   position: absolute;
  top: 100px; 
  left: 100px;
}
.intro{
   
    font-family: "Nanum Myeongjo", serif;
    font-weight: 400;
    font-style: normal;
    color: #0F4855;
    text-align: justify;
    margin: 20px;
    font-size: 30px;
    line-height: 36px;
}
#helloimg{
    margin-top: -90px;
    margin-left: 67%; /*850px*/
    height: 400px;
}
#faq a{
    position: absolute;
    left: 20px;
    bottom:-150px;
    font-size: 25px;
    text-decoration: none;
}
#faq a:hover{
    color: rgb(0, 0, 0);
    transition: .9s;
    
    
}
#arrow{
    text-decoration: bold;
    position: absolute;
    border: none;
    border-radius: 50px;
    background-color: #09868f;
    width: 60px;
    height: 60px; 
    font-size: 45px;
    bottom: -150px;
    left: 1200px;
    cursor: pointer;
    color: white;
    text-align: center;
   
}
#arrow:hover{
    background-color: rgb(153, 87, 87);
    transition: .9s;
    /* color: rgb(58, 227, 7); */
}

@media  screen and (max-width:1220px){
    #arrow{
        position: absolute;
        left: 1000px;
        bottom: 40px;
    }
}  

@media  screen and (max-width:1090px){
    #arrow{
        position: absolute;
        left: 600px;
        bottom: 40px;
    }
    
} 
@media  screen and (max-width:800px){
    #arrow{
        position: absolute;
        left: 350px;
        bottom: 40px;
    }
} 
@media  screen and (max-width:600px){
    #arrow{
        position: absolute;
        left: 250px;
        bottom: 40px;
    }
} 